*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #e5e7eb;
  background-color: #111827;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  height: 100vh;
}

button {
  font-family: inherit;
}
